server {
    listen 80 default_server;
    listen [::]:80 default_server;
    root /var/www/{{ nginx_app_name }};
    #index index.html

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    server_name _;
    location / {
            try_files $uri $uri/ =404;
    }
}
